[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/jpeg;
Exec=env WINEPREFIX="/home/masterj/Games/epic-games-store" wine start /ProgIDOpen jpegfile %f
NoDisplay=true
StartupNotify=true
Icon=ECB7_iexplore.0
